<% content_for :title do %>Adam Plánský<% end %>
<section class="container">
  <section class="col-md-4"></section>
  <section class="col-md-8 content">
    <h1>Adam Plánský</h1>
    <h2>@adamplansky</h2>
    <ul>
      <li><strong>FIT CTU</strong> [Computer Security]</li>
      <li><strong>Ruby on Rails</strong>, ASP.NET, objective-c, <strong>c#</strong> and c++, cisco</li>
      <li><i>lover and dreamer</i></li>
      </ul>
    <ul>
      <li>adamplansky[at]gmail.com</li>
      <li>+420 607 011 103</li>
    </ul>
    
    
    <ul class="icons">
        <li><%= link_to "github", "https://github.com/adamplansky", class: "github" %></li>
        <li><%= link_to "twitter", "https://twitter.com/adamplansky", class: "twitter"  %></li>
        <li><%= link_to "linkedin", "http://cz.linkedin.com/pub/adam-pl%C3%A1nsk%C3%BD/49/89b/868", class: "linkedin" %></li>
        <li><%= link_to "instagram", "http://instagram.com/adamplansky", class: "instagram" %></li>
    </ul>
  </section>
</section>
<ul>