<div class="container">
  <form class="form-inline">
    <div class="form-group">
      <label for="from">Od:</label>
      <input type="text" class="form-control" id="from" placeholder="Od" value="42.5" />
    </div>
    <div class="form-group">
      <label for="to">Do:</label>
      <input type="text" class="form-control" id="to" placeholder="Do" value="75">
    </div>
    <div class="form-group">
      <label for="repetition">Počet opakování:</label>
      <input type="text" class="form-control" id="repetition" placeholder="Počet opakování" value="8">
    </div>
    <a href="#" class="btn btn-default" id="count">Spocitej!</a>
  </form>
  <div id="results">
    <p>Přidáváme: <span id="weight"></span>kg</p>
    <p>Váhy: <span id="weights"></span></p>
  </div>
</div>
